@import "variables.less";
@import "mixins.less";
@import "menu.less";

.expandable > legend:before {
  content: '\25B8';
  padding-right: 5px;
}
.expanded > legend:before {
  content: '\25BE';
}




.bm-table  {
     
     .dataTables_filter {
         float:right;
     }
    
     .dataTables_paginate {
        padding-top:10px;     
     }
     
     .dataTables_info {
         padding-top:10px;
     }
}




.bm-search {
    
    
   .bm-search_form {
       margin-bottom:20px;
   }
    
}



