{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

<div class="row">
  
  <!-- DataTable Block -->
  <div class="col-md-12">
  
  </div>



</div>


  
    

{% endblock page_main %}
