{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}


    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Before you can take a booking a calendar must be generated for now and next year. 
    </div>


<div class="row">
  <div class="col-md-12">
      
      <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-fw fa-bullhorn"></i>
            Add New Calendar Year    
        </div>

        <div class="panel-body">
              
                  
                   
                    <table class="dashboardlisting listing">
                    <thead>
                        <th>
                             -
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Action
                        </th>
                    </thead>
                    <tbody>
                       {% for y in calendars %}
                       <tr>
                           <td>
                                Year
                            </td>
                            <td>
                                {{ y.y }}
                            </td>
                            <td>
                                <span style="color:green;">Exists</span>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                Year
                            </td>
                            <td>
                                {{ nextYear }}
                            </td>
                            <td>
                                 <form style="margin-bottom:10px;" method="post" action="{{ path('bookme-setup-calendar') }}"> 
                                     <input type ="hidden" name="iCalendarYear"  value="{{ nextYear }}" />
                                <input class="btn btn-primary" type="submit" value="Add Calendar Year" /> </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
  
  </div>


</div>


  
    

{% endblock page_main %}
