{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}


    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Before you can take a booking a calendar must be generated for now and next year. 
        Adding more then now + 5 years is a waste of resources the option is available but please don't.
    </div>


<div class="row">
  <div class="col-md-6">
      
       <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-fw fa-bullhorn"></i>
            Add New Calendar Year    
        </div>

        <div class="panel-body">
               <form style="margin-bottom:10px;" method="post" action="{{ path('bookme-setup-calendar-add') }}">
                   <input class="btn btn-primary" type="submit" value="Add Calendar Year" />
                   <hidden type="iCalendarYear" value="1" />           
               </form>
            
            
            
            <table class="dashboardlisting listing">
                <thead>
                    <th>
                         -
                    </th>
                    <th>
                        Year
                    <   /th>
                </thead>
                <tbody>
                   {% for y in aCalendarYearList %}
                   <tr>
                       <td>
                            Year
                        </td>
                        <td>
                            {{ y }}
                        </td>
                    {% else %}
                        <td colspan="2">
                            Add your first calendar year.
                        </td>
                    {% endfor %}
                    </tr>
                </tbody>
             </table>
        </div>
    </div>
  
  </div>
  <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-fw fa-bullhorn"></i>
            Add New Time Slot
        </div>

        <div class="panel-body">
               <form class="form-inline" style="margin-bottom:10px; width:100%;" method="post" action="{{ path('bookme-setup-timslot-add') }}">
                       <div class="form-group">
                       <label for="iSlotLength" style="display:inline">Slot Length:</label> 
                       <input class="form-control" id="iSlotLength" type="text" name="iSlotLength"  />
                       </div>
                       <button type="submit" class="btn btn-primary">Add New Slot</button>
               </form>
            
            <table class="dashboardlisting listing">
                <thead>
                    <th>
                         Slot Length
                    </th>
                    <th>
                        Date Added
                    </th>
                </thead>
                <tbody>
                 
                </tbody>
             </table>
        </div>
    </div>
  
  
  </div>
</div>


  
    

{% endblock page_main %}
