{% extends '@BookMe/_base/_worker_base.twig' %}


{% block worker_action %}



<div class="row panel panel-default">
  
        {% form_theme oForm 'form_bolt_layout.twig' %}
        
        
        {% if oMember is defined %}
             <div class="panel-heading">Member Basic Details</div>
                <div class="panel-body bm-table">

                    <form id="memberBasicForm" method="post" action="{{ path('bookme-worker-edit-basic-save', { 'member' : oMember.getMembershipId() } )  }}"  class="form-horizontal">
                      {{ form_widget(oForm) }}
                      
                      <br />
                      <input type="submit" value="Save Member Basic Details" name="submit" class="btn btn-primary">
                    </form>
                
                </div>
                    
        {% endif %}
        
        {% if oMember is not defined %}
          <div class="panel-heading">Create New Member</div>
            <div class="panel-body bm-table">
         
                 <form id="memberBasicForm" method="post" action="{{ path('bookme-worker-create-basic-save', { } )  }}"  class="form-horizontal">
                  {{ form_widget(oForm) }}
                  
                  <br />
                  <input type="submit" value="Save New Member" name="submit" class="btn btn-primary">
                </form>

          </div>
        {% endif %}
</div>


{% endblock worker_action %}