{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}


{% block page_main %}




<div class="bm-search">

    <form id="queueSearchForm" class="bm-search_form form-inline">
        
    </form>

</div>



<div class="bm-table">

    <table id="QueueActivityTable" class="table table-striped table-bordered table-hover">
        
       
    </table>

</div>

{% endblock page_main %}

{% block page_script %}

    {% include '@BookMe/_base/_datatable.twig' with {'sConfigString' : sConfigString , 'sElement' : '#QueueActivityTable' , 'aEvents' : aEvents } %}
    
    {% include '@BookMe/_base/_jsonform.twig' with {'sConfigString' : sFormConfigString , 'sElement' : '#queueSearchForm'} %}
{% endblock page_script %}

