{% extends '@BookMe/_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}


{% block page_main %}

<form id="queueSearchForm">
    
</form>


<table id="QueueActivityTable" class="table table-striped table-bordered table-hover">
    
   
</table>


{% endblock page_main %}

{% block page_script %}

    {% include '@BookMe/_datatable_bootstrap.twig' with {'sConfigString' : sConfigString , 'sElement' : '#QueueActivityTable' , 'aEvents' : aEvents } %}
    
    {% include '@BookMe/_jsonform.twig' with {'sConfigString' : sFormConfigString , 'sElement' : '#queueSearchForm'} %}
{% endblock page_script %}

