{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}


{% block page_main %}

<form id="queueSearchForm">
    
</form>


<table id="QueueActivityTable">
    
   
</table>


{% endblock page_main %}

{% block page_script %}

    {% include '_datatable_bootstrap.twig' with {'sConfigString' : sConfigString , 'sElement' : '#QueueActivityTable' , 'aEvents' : aEvents } %}
    
    {% include '_jsonform.twig' with {'sConfigString' : sFormConfigString , 'sElement' : '#queueSearchForm'} %}
{% endblock page_script %}

