{#
 Bootstrap a jQuery DataTable Requires the following params

 sConfigString : The javascript config struct
 sTitle : Title for the panel
 aEvents  : array of event handlers that need t generate
 
 This should be included at the bottom of the page using the Page Script Block
 
#}


<div class="row panel panel-default">
    <div class="panel-heading"> {{sTitle}}</div>
    <div class="panel-body bm-table">
         <table data-bind="datatable" class="table table-striped table-bordered table-hover">
        
       
        </table>
    </div>
</div>


{% block page_script %}
<script type="text/javascript">
  bookme.datatable.bind($('[data-bind="datatable"]'),{{ sConfigString|raw }});
</script>
{% endblock page_script %}


